.drop-container {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 18px;
  margin-top: 15px;
  color: white;
}

.drop-container > select {
  color: green;
  padding: 5px 5px;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  position: relative;
}

.drop-container > select:focus {
  outline: none;
}
